@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --bg: #f9f4ed;
  --bg-dark: #2a2a2a;
  --color-light-gray: #eaeaea;
  --color-light: #f9f4ed;
  --color-brown: #b0695c;
}
* {
  font-family: "Poppins", sans-serif;
}
.dark-mode body {
  background-color: var(--bg-dark);
  color: var(--color-light-gray);
}
body {
  background: var(--bg);
  transition: all 0.5s ease;
}
