
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
  --color: #243746;
  --color-primary: #158876;
  --color-secondary: #0e2233;
  --bg: #f3f5f4;
  --bg-secondary: #fff;
  --border-color: #ddd;
}
*{
    font-family: 'Poppins', sans-serif;
}
.dark-mode body {
    background:  #2a2a2a;
    background-size: 100% 600%;
    background-repeat: no-repeat;
    background-color: #2a2a2a;
    color: #eaeaea;
}
body {
    background: linear-gradient(45deg, rgba(249, 244, 237, 1) 70%, rgba(232, 176, 157, 0.5441526952577906) 100%);
    background-size: 100% 900%;
    background-repeat: no-repeat;
}
